.hand {
  animation: handDown 0.7s ease infinite;
  @apply text-3xl;
}

.hand svg {
  @apply mx-auto;
}

@keyframes handDown {
  0% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(-7px);
  }
}
